# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv

# PyTorch & Weights
*.pt
*.pth
*.onnx
*.engine

# Datasets & Big files
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep

# Outputs
outputs/predictions/*
!outputs/predictions/.gitkeep
outputs/reports/*
!outputs/reports/.gitkeep
outputs/figures/*
!outputs/figures/.gitkeep

# IDE & OS
.idea/
.DS_Store
Thumbs.db
*.swp

# Environment variables
.env
